.navbar{
  border: none;
}

.navbar .nav > li > a{
  font-size:16px;
}

.navbar .navbar-nav > li > a{
  color:#fff;
}

.navbar .navbar-nav > li > a:hover{
  color:#9c9987;
}

.navbar .dropdown-menu{
  background: #101010;
  min-width: 127px;
}

.navbar .dropdown-menu > li >a:hover{
  background: #666;
}

.navbar .dropdown-menu > li > a{
  color:#fff;
  text-align: center;
}