body{
  padding-top: 50px;
}

.jumbotron{
  text-align: center;
  padding:20px;
  margin-bottom:10px;
}

.jumbotron .btn{
  background: #bdcbda;
  color:#a27878;
}

.jumbotron .btn:hover{
  background: #304356;
  color:#fff;
}

.btn-group .btn{
  background: #bdcbda;
  color:#a27878;
}

.btn-group .btn:hover{
  background: #304356;
  color:#fff;
}

.page{
  text-align: center;
}
.page .pagination{
  border: none;
  font-size: 20px;
}
.page .pagination li span{
  background:#ccc;
  color:#fff;
  border: none;
}
.page .pagination li span:hover{
  background:#ccc;
  color:#fff;
}
.page .pagination li a{
  color: #fff;
  border: none;
  background:#ccc;
}
.page .pagination li a:hover{
  background: #333;
}
.page .pagination .active span{
  background: #333;
}
.page .pagination .active span:hover{
  background: #333;
}